{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3 text-center">Блог</h4>

        <div class="container mt-5">
            {% if user.is_superuser or is_manager %}
                <div class="mb-4">
                    <a href="{% url 'blog:create_blog' %}" class="btn btn-primary">Создать новую запись</a>
                </div>
            {% endif %}

            {% for object in object_list %}
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">{{ object.title }}</h5>
                </div>
                <div class="card-content-wrapper">
                    {% if object.image %}
                    <img src="{{ object.image.url }}" alt="{{ object.title }}" class="card-image">
                    {% endif %}
                    <div class="card-blog-content">
                        <div class="content-container limited-container">
                            <p class="card-text">{{ object.content|linebreaks }}</p>
                        </div>
                    </div>
                </div>
                <div class="info-container clear-float p-3">
                    <span class="text-muted float-left">Дата публикации: {{ object.publication_date|date:"d.m.Y" }}</span>
                    <span class="text-muted float-right">{{ object.views_number }} просмотров</span>
                </div>
                <div class="card-footer">
                    <div class="button-container">
                        <a href="{% url 'blog:blog_detail' object.pk %}" class="btn btn-warning btn-warning-special">Открыть
                            запись</a>
                        {% if user.is_superuser or is_manager %}
                            <a href="{% url 'blog:update_blog' object.pk %}" class="btn btn-warning btn-warning-special">Изменить</a>
                            <a href="{% url 'blog:delete_blog' object.pk %}" class="btn btn-danger btn-danger-special">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}